<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="icon" href="~/Publics/image/logo.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Publics/css/all.min.css?v=2" rel="stylesheet" />
    <link href="~/Publics/css/main.css?v=4" rel="stylesheet" />

    <script src="~/Publics/js/jquery-3.6.0.min.js"></script>
    <script src="~/Publics/js/javascript.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <header>
        <div class="nav">
            <a href="#" class="logo">Ni'Vi</a>
            <ul class="menu">
                <li><a href="@Url.Action("Index","TrangChu")">Home</a></li>
                <li><a href="@Url.Action("Index","SHOP")">Shop</a></li>
                <li><a href="@Url.Action("Index","DECOR")">Decor</a></li>
                <li><a href="@Url.Action("Index","PLANT")">Plant</a></li>
                <li><a href="@Url.Action("Index","LIGHT")">Light</a></li>
                <li><a href="@Url.Action("Index","CHAIR")">Chair</a></li>
            </ul>
            <div class="icon">
                <a href="https://www.facebook.com/vhuunghia" class="only"><i class="fab fa-facebook"></i></a>
                <a href="#" class="only"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/vhuunghiax/" class="only"><i class="fab fa-instagram"></i></a>
                <a href="@Url.Action("Search","Search")" class="only"><i class="fas fa-search"></i></a>
                <a class="only" href="@Url.Action("Cart", "TrangChu")" style="position:relative">
                    <i class="fas fa-shopping-cart"></i>
                    @if (Session["Quantity"] != null)
                    {
                        <span id="quantity">
                            @Session["Quantity"]
                        </span>
                    }
                </a>
                @if (Session["Name"] != null)
                {
                    string userName = "";
                    userName = Session["Name"].ToString();

                    if (Session["Name"] != null && (int)Session["RoleID"] == 1)
                    {
                        <a href="/admin/home" >ADMIN</a>
                    }
                    <a class="username">@userName</a>
                    <a href="@Url.Action("Logout", "Login")">LOG OUT</a>
                }
                else
                {
                    <a href="@Url.Action("Login", "Login")" class="user">
                        <strong>LOG IN</strong>
                    </a>
                }

            </div>
        </div>
        <div class="nav-mobile" id="nav-mobile">
            <div class="nav-mobile-1">
                <div class="nav-mobile-content">
                    <div class="nav-mobile-content-wrap">
                        <a href="#" class="logo">Ni'Vi</a>
                        <div class="nav-mobile-content-wrap-right">
                            <span class="menu-bars">
                                <i class="fas fa-bars "></i>
                            </span>
                            <span class="close-menu">
                                <i class="fas fa-times"></i>
                            </span>
                            <a class="only-mobile">
                                <i class="fas fa-shopping-cart"></i>
                                <div class="product-in-cart-mobile">
                                    <div class="subtotal-mobile">
                                        <span>
                                            SUBTOTAL: $
                                            <bdi id="total-mobile" style="color: rgb(113, 113, 113); font-weight: bolder;">0.00</bdi>
                                        </span>
                                    </div>
                                    <div class="check-view-mobile">
                                        <div class="check-view-all-mobile check-view-all-left-mobile">
                                            <i class="far fa-eye"></i>
                                            View cart
                                        </div>
                                        <div class="check-view-all-mobile">
                                            <i class="far fa-check-circle"></i>
                                            Check out
                                        </div>
                                    </div>
                                </div>
                                <span id="quantity-mobile">
                                    0
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <nav class="nav-mobile-content-2">
                    <div class="nav-mobile-menu">
                        <ul class="nav-mobile-menu-top">
                            <li>
                                <a href="../HTML/index.html">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="../HTML/SHOP.html">
                                    Shop
                                </a>
                            </li>
                            <li>
                                <a href="../HTML/DECOR.html">
                                    Decor
                                </a>
                            </li>
                            <li>
                                <a href="../HTML/PLANT.html">
                                    Plant
                                </a>
                            </li>
                            <li>
                                <a href="../HTML/LIGHT.html">
                                    Light
                                </a>
                            </li>
                            <li>
                                <a href="../HTML/CHAIR.html" style="border-bottom: none;">
                                    Chair
                                </a>
                            </li>
                        </ul>
                        <div class="nav-mobile-menu-top-middle">
                            <div class="mobile-search">
                                <input type="text" placeholder="Search here...">
                                <button class="mobile-icon-search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="nav-mobile-content-3">
                            <a href="https://www.facebook.com/vhuunghia" class="nav-mobile-content-3-all">
                                <span>
                                    <i class="fab fa-facebook"></i>
                                </span>
                            </a>
                            <a href="#" class="nav-mobile-content-3-all">
                                <span>
                                    <i class="fab fa-twitter"></i>
                                </span>
                            </a>
                            <a href="https://www.instagram.com/vhuunghiax/" class="nav-mobile-content-3-all">
                                <span>
                                    <i class="fab fa-instagram"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="container-8">
            <div class="container-8-top">
                <div class="container-8-top-all">
                    <div class="container-8-top-all-inner">
                        <h2>PAYMENT METHOD</h2>
                        <div class="container-8-top-all-inner-text">
                            With convenient services of our store, here are the payment methods if you want to pay online.
                        </div>
                        <div class="card">
                            <div>
                                <i class="fab fa-cc-visa"></i>
                            </div>
                            <div>
                                <i class="fab fa-cc-mastercard"></i>
                            </div>
                            <div>
                                <i class="fab fa-cc-amex"></i>
                            </div>
                            <div>
                                <i class="fab fa-cc-paypal"></i>
                            </div>
                            <div>
                                <i class="fab fa-cc-jcb"></i>
                            </div>
                        </div>
                        <div style="padding: 5px 0;">
                            <i class="fa fa-lock"></i>
                            <span class="container-8-top-all-inner-text">Secure online payment</span>
                        </div>
                    </div>
                </div>
                <div class="container-8-top-all">
                    <div class="container-8-top-all-inner">
                        <div class="container-8-top-all-inner-content">
                            <h2>TOP RATED</h2>
                            <div>
                                <div class="top-rate">
                                    <div class="top-rate-all">
                                        <div>
                                            <img src="~/Publics/image/list-3.jpg" />
                                        </div>
                                        <div style="padding-left: 20px;">
                                            <a href="#">Wooden picture frame</a>
                                            <p>$3.00</p>
                                        </div>
                                    </div>
                                    <div class="top-rate-all">
                                        <div>
                                            <img src="~/Publics/image/list-4.jpg" />
                                        </div>
                                        <div style="padding-left: 20px;">
                                            <a href="#">Bedroom mirror</a>
                                            <p>$4.00</p>
                                        </div>
                                    </div>
                                    <div class="top-rate-all">
                                        <div>
                                            <img src="~/Publics/image/list-5.jpg" />

                                        </div>
                                        <div style="padding-left: 20px;">
                                            <a href="#">Milimalastic chair</a>
                                            <p>$5.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-8-top-all">
                    <div class="container-8-top-all-inner">
                        <div class="container-8-top-all-inner-content-1">
                            <h2>SHOPPING GUIDE</h2>
                            <div>
                                <div class="SHOPPING-GUIDE">
                                    <div>
                                        <a href="#">FAQ</a>
                                    </div>
                                    <div>
                                        <a href="#">Shipment</a>
                                    </div>
                                    <div>
                                        <a href="#">Returns</a>
                                    </div>
                                    <div>
                                        <a href="#">Policies</a>
                                    </div>
                                    <div>
                                        <a href="#">Gift cards</a>
                                    </div>
                                    <div>
                                        <a href="#">Clothing care</a>
                                    </div>
                                    <div>
                                        <a href="#">Purchase conditions</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-8-top-all">
                    <div class="container-8-top-all-inner">
                        <div class="container-8-top-all-inner-content-1">
                            <h2>COMPANY</h2>
                            <div>
                                <div class="SHOPPING-GUIDE">
                                    <div>
                                        <a href="#">About us</a>
                                    </div>
                                    <div>
                                        <a href="#">Press</a>
                                    </div>
                                    <div>
                                        <a href="#">Our team</a>
                                    </div>
                                    <div>
                                        <a href="#">Offices</a>
                                    </div>
                                    <div>
                                        <a href="#">Affiliates</a>
                                    </div>
                                    <div>
                                        <a href="#">Giveaway</a>
                                    </div>
                                    <div>
                                        <a href="#">Contact</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-8-bottom">
            <p style=" text-align: center;">Copyright © 2023 by NHA</p>
        </div>

    </footer>
</body>
</html>
