@model List<NiVi_Shop.Models.Products>


@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section head {
    <script src="~/Publics/js/jquery-3.6.0.min.js"></script>
    <script src="~/Publics/js/javascript.js"></script>
    <link href="~/Publics/css/Cart.css?v=2" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.3.1.slim.min.js" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" />*@
    <link href="~/Publics/css/all.min.css" rel="stylesheet" />
}

<div class="px-4 px-lg-0 custom">
    <div class="container text-white py-5 text-center">
        <h1 class="display-4">SHOPPING CART</h1>
    </div>
    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                    <!-- Shopping cart table -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 px-3 text-uppercase">Product</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Price</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Quantity</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Remove</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model == null || !Model.Any())
                                {
                                    <p>Giỏ hàng trống</p>
                                }
                                else
                                {

                                    foreach (var item in Model)
                                    {

                                        <tr>
                                            <th scope="row" class="border-0">
                                                <div class="p-2">
                                                    <img src="@item.Image" alt="" width="70" class="img-fluid rounded shadow-sm">
                                                    <div class="ml-3 d-inline-block align-middle">
                                                        @foreach (var item2 in ViewBag.CategoryName)
                                                        {
                                                            if (@item.CategoryID == @item2.CategoryID)
                                                            {
                                                                <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle"><strong>@item.Name</strong></a></h5><span class="text-muted font-weight-normal font-italic d-block">Category: @item2.CategoryName</span>
                                                                break;
                                                            }

                                                        }
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="border-0 align-middle"><strong>$@item.Price</strong></td>
                                            <td class="border-0 align-middle" data-quantity="@item.Quantity"><strong>@item.Quantity</strong></td>
                                            <td class="border-0 align-middle"><a href="#" class="text-dark delete-item" data-product-id="@item.ProductID"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- End -->
                </div>
            </div>

            <div class="row py-5 p-4 bg-white rounded shadow-sm">
                <div class="col-lg-6">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">
                        <a href="@Url.Action("Index", "OrderDetail")">Products that have been Ordered</a>
                    </div>
                    <div class="p-4">
                    </div>
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions for seller</div>
                    <div class="p-4">
                        <p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>
                        <textarea name="" cols="30" rows="2" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
                    <div class="p-4">
                        <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
                        <ul class="list-unstyled mb-4">
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>$@ViewBag.TotalPrice</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom">
                                <strong class="text-muted">Total</strong>
                                <h5 class="font-weight-bold">$@ViewBag.TotalPrice</h5>
                            </li>
                        </ul><a href="#" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

