@model NiVi_Shop.Models.Comment
@using System.Web.Mvc
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@section head {
    <link href="~/Publics/css/DECOR.css" rel="stylesheet" />
    <link href="~/Publics/css/responsive.css" rel="stylesheet" />
    <link href="~/Publics/css/SHOP.css?v=2" rel="stylesheet" />
    <link href="~/Publics/css/detail-of-product.css" rel="stylesheet" />
    <script src="~/Publics/js/jquery-3.6.0.min.js"></script>
    <script src="~/Publics/js/javascript.js"></script>
    <link href="~/Publics/css/all.min.css" rel="stylesheet" />
    <link href="~/Publics/css/Comment.css" rel="stylesheet" />
}
<div class="container">

    <div class="title-bar">
        <div class="title-bar-left">
            <h2>Shop</h2>
        </div>
        <div class="title-bar-right">
            <span>
                <a href="#" style="font-weight: 200;">Home</a>
            </span>
            <span> > </span>
            <span>
                <a href="#" style="font-weight: 200;">products</a>
            </span>
            <span> > </span>
            <span style=" font-weight: bolder; margin-right: 10px; color: #6d6b6b  ">@ViewBag.Product.Name</span>
        </div>
    </div>
    <div class="detail-of-products">
        <div class="detail-of-products-top">
            <div class="detail-of-products-top-all">
                <div class="detail-of-products-top-img">
                    <img src="@ViewBag.Product.Image">
                </div>
            </div>
            <div class="detail-of-products-top-all">
                <h1 class="name-of-products">@ViewBag.Product.Name</h1>
                <p class="price-of-products">
                    <bdi>
                        $ @ViewBag.Product.Price
                    </bdi>
                </p>
                <p class="content-of-products">
                    When these items are placed in the right place in your home, your home will glow and make you feel more comfortable looking at them.
                </p>
                <p class="content-of-products">
                    With a unique design and delicate lines, as you see a quality item, it will sell out very quickly. So let's order quickly.
                </p>
                <p class="stock">
                    <bdi style="font-weight: bolder; color: #757373;">@ViewBag.Product.Quantity</bdi>
                    in stock
                </p>
                <div class="quantity-of-products">
                    <div class="quantity-of-products-left">
                        <span class="increase-down">
                            <i class="fas fa-arrow-down"></i>
                        </span>
                        <bdi id="quantity_of_products">
                            1
                        </bdi>
                        <span class="increase-up">
                            <i class="fas fa-arrow-up"></i>
                        </span>
                    </div>
                    <button type="submit">
                        <i class="fas fa-shopping-cart"></i>
                        ADD TO CART
                    </button>
                </div>
                <div class="category">
                    <span style=" font-weight: bolder;">
                        Category:
                    </span>
                    <span>
                        <a style=" font-size: 13px; margin-left: 5px; color: #5a5555" href="../HTML/DECOR.html">
                            DECOR
                        </a>
                    </span>
                </div>
                <div style="position: relative;">
                    <div class="share">
                        <div class="share-left">
                            <i class="fas fa-share-alt"></i>
                            <span>
                                SHARE
                            </span>
                        </div>
                    </div>
                    <div class="share-right">
                        <div class="facebook">
                            <a href="https://www.facebook.com/vhuunghia">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </div>
                        <div class="twitter">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                        <div class="instagram">
                            <a href="https://www.instagram.com/vhuunghiax/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-of-products-middle">
            <ul class="detail-of-products-middle-tab">
                <li class="detail-of-products-middle-tab-1">
                    <a style="padding-left: 0px;" class="active-product" href="#tab1">
                        DESCRIPTION
                    </a>
                </li>
                <li class="detail-of-products-middle-tab-2">
                    <a href="#tab2">
                        ADDITIONAL INFORMATION
                    </a>
                </li>
                <li class="detail-of-products-middle-tab-3">
                    <a href="#tab3">
                        REVIEWS (0)
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="DESCRIPTION" id="tab1">
                    <h3 style="margin-bottom: 15px">
                        Product Description
                    </h3>
                    <p style="margin-bottom: 15px">
                        @ViewBag.Product.Detail
                    </p>
                    <p>
                        I enjoy with my whole heart.
                    </p>
                </div>
                <div class="ADDITIONAL-INFORMATION" id="tab2">
                    <h3 style="margin-bottom: 15px">
                        Additional information
                    </h3>
                    <table class="ADDITIONAL-INFORMATION-table">
                        <tr>
                            <th>
                                Weight
                            </th>
                            <td>
                                1 kg
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Dimensions
                            </th>
                            <td>
                                12 × 25 × 3 cm
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Material
                            </th>
                            <td>
                                50% Polyester, 30% Silk, 20% Acrylic
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Made in
                            </th>
                            <td>
                                Wonderland
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="REVIEWS" id="tab3">
                    <h3 style="margin-bottom: 15px">
                        Reviews
                    </h3>
                    @using (Html.BeginForm("AddComment", "TrangChu", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <p>
                            <label>Content</label>
                            @Html.TextAreaFor(model => model.Content, new { @id = "textarea" })
                            @Html.ValidationMessageFor(model => model.Content)
                        </p>

                        <input type="number" name="productId" value="@ViewBag.Product.ProductID" readonly />
                        <p>
                            <button type="submit">
                                SUBMIT
                            </button>
                        </p>
                    }
                </div>
            </div>
            <section>
                <h2 style="margin-bottom: 45px; margin-top: 55px">
                    Related production
                </h2>
                <ul style="margin: 0 -15px;">
                    @foreach (var relatedProduct in ViewBag.ProductsInCategory)
                    {
                        <li class="decor-all-left-inner">
                            <a style="display: block" href="@Url.Action("ProductDetails", "TrangChu", new { id = relatedProduct.ProductID })">
                                <img src="@relatedProduct.Image">
                            </a>
                            <div style=" margin-top: 20px; margin-bottom: 7.5px;">
                                <h2>@relatedProduct.Name</h2>
                            </div>
                            <span>$ <bdi>@relatedProduct.Price</bdi></span>
                            <a class="shop">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>
                    }
                </ul>
            </section>
            <section class="row">
                <p><strong>COMMENTS</strong></p>
                @foreach (var comment in ViewBag.Comments)
                {
                    <div class="col-md-8">
                        <div class="media g-mb-30 media-comment">
                            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                                <div class="g-mb-15">
                                    <h5 class="h5 g-color-gray-dark-v1 mb-0">@comment.User.Username</h5>
                                    <span class="g-color-gray-dark-v4 g-font-size-12">@comment.DayComment</span>
                                </div>

                                <p>
                                    @comment.Content
                                </p>


                            </div>
                        </div>
                    </div>
                }

            </section>
        </div>
    </div>
</div>

